#descricao{
    width: 100%;
    padding: 4% 0.09%;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    left: auto;
    bottom: 38px;
}

#descricao label{
    position: relative;
    left: auto;
    bottom: 34px;
}

#botao{
    position: relative;
    left: 35%;
    bottom: 38px;
}


#nome{
    width: 100%;
    padding: 2% 0.09%;
    box-sizing: border-box;
    border-radius: 5px;
}

#tipo{
    margin:auto;  
    box-sizing: border-box;
    
}

#usuario{
    width: 75%;
    position: relative;
    left: 25%;
    bottom: 35px;
}

#usuario label{
    position: relative;
    left: 25%;
    bottom: 34px;
}

#form form {
    width:fit-content;
    
    border-radius: 5px;
    background-color:  rgba(167, 208, 224, .3);
    padding: 20px;
    position: relative;
    margin: auto;
    top: 75px;
    
}

body{
    background-image: url("https://images2.alphacoders.com/103/thumb-1920-1033411.jpg");
    background-size: 100%;
}

